
 /*
 * ©copyright Grisecorp
 * System - Web operation System 1.0
 * Autor -  Geraldo Grise 
 */
.wexplore_style{
  
  height:400px;
  width:640px;
  border:1px solid #333;
  background:#fff;
  float:left;
   position: absolute;
  
  
}


.wexplore_style .window_content{
  overflow-x:none;
  overflow-y:none;
  bottom:0;
 
 
}


.wexplore_style .modal-header {
  float:left;
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
 
}
.wexplore_style .modal-header_window {
    background: none repeat scroll 0 0 #A9C3DD;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    min-height: 16.4286px;
    padding: 5px;
    width: 100%;
	
}
.wexplore_style .top_bar{
  float:left;
  width:100%;
  margin-top:2px;
}

.wexplore_style .top_bar  .btn_menu input[type=image]{float:left;width:25px;height:25px;margin:0 2px 0 2px;}
.wexplore_style .top_bar .btn_update .reload{float:left;background:#ECF2F9;height:24px;border-top:1px solid #333;padding-bottom:1px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;margin:0 10px 0 0;}
.wexplore_style .top_bar .btn_search .reload{float:left;background:#ECF2F9;height:24px;border-top:1px solid #333;padding-bottom:1px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
/*search text*/
.wexplore_style .top_bar input.search_explore{float:left;width:53%;height:25px;background:#ECF2F9;border-bottom:1px solid #ccc;border-top:1px solid #333;
	border-left:1px solid #333;}
.wexplore_style .top_bar input.search_all{float:left;width:25.3%;height:25px;
	background:#ECF2F9;	border-bottom:1px solid #ccc;border-top:1px solid #333;border-left:1px solid #333;border-right:0;
}



.wexplore_style .modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.wexplore_style .modal-body {
  float:left;
  width:100%;
  height:100%;
  background:#fff;;
 
  
}

.wexplore_style .modal-footer {
  float:left;
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}




@media screen and (min-width: 768px) {
 .wexplore_style .modal-dialog {
   
	float:left;
	width:100%;
	height:100%;
	
	
  
  }
 

}
.wexplore_style .window_aside{background:#fff;}
.wexplore_style .sidebar{width:216px;max-width:216px;float:left;height:318px;border-right:1px solid #ccc;background-color: #fff;overflow-x:scroll;}

.wexplore_style  span.iconLiArvore {float:left;height: 10px;	width: 10px;display: inline-block;padding: 5px 5px 0 0;cursor: pointer;}
.wexplore_style span.iconLiArvore_N {float:left;height: 31px;	width: 31px;display: inline-block;padding: 0 5px 0 0;cursor: pointer;}
.wexplore_style span.iconLiArvore_N img {float:left;height: 30px;	width: 30px;}
.wexplore_style span.iconLiArvoreI{float:left;height: 25px;	width: 25px;display: inline-block;padding: 0 5px 0 0;cursor: pointer;}
.wexplore_style span.iconLiArvoreI img {float:left;height: 25px;	width: 25px;}


/*lista fixa*/
.wexplore_style ul.fixelist{list-style:none;float:left;margin-left:0px;}
.wexplore_style ul.fixelist  li.side_menu{float:left;width:100%;padding:0 0 0 12px; font: 14px Verdana,Geneva,sans-serif;}
.wexplore_style ul.fixelist  li.side_menu a{float:left;width:100px;}

.wexplore_style ul.desktop_list li.side_menu{float:left;width:100%;padding:0 0 0 12px; font: 14px Verdana,Geneva,sans-serif;}
.wexplore_style .separator{width:100%;float:left;height:2px;margin:2px 0;}

.wexplore_style .container_explore{float:left;width:100%;background:#fff;}
 li.side_menu{float:left;width:100%;}
.wexplore_style ul.arvore.list {float:left;width: 100%;font: 18px Verdana, Geneva, sans-serif;color: #444;list-style:none;margin:0;padding:5px 0 5px 0;}
.wexplore_style .arvore.list li {text-align: left;float:left;width:100%;}
.wexplore_style .arvore.list li.fechado span.iconLiArvore {float:left;height: 10px;padding-left:2px;}
.wexplore_style .arvore.list li a {float:left;width:148px;text-decoration: none;color: #333;padding: 2px 0;text-indent: 2px;}
.wexplore_style .arvore.list li a.activo {background: #d4d4d4;color: #fff;font-weight: bold;}
.wexplore_style .arvore.list li a.marcado:hover {background: #06344C;color: #fff !important;}
.side_menu li{float:left;padding-left:20px;}




.listview .list.selected {
  background-color: #d1e8ff;
  border-color: #64b4db;
}




.wexplore_style .content{
  float:right;
  width:410px;
   height: 318px;
   overflow-y:none;
   overflow-x:none;

}
.wexplore_style .listview{
 float:left;
 width:99%;
}
.wexplore_style .listview .list{
  border:0;
  height:32px;
   padding: 15px 8px 4px 48px;

}

.wexplore_style .wexplore_footer{float:left;width:100%;background:#F0F0F0;height:70px;display:none;}
.wexplore_style .wexplore_footer .open_folder{float:left;margin:10px 0 0 0;display:none;}
.wexplore_style .wexplore_footer .save_file{float:left;margin:10px 0 0 0;display:none;}
.wexplore_style .wexplore_footer .file_a{ float:left;width:50%;margin:10px 10px  0 200px;}
.wexplore_style .abs .iconLiArvore img{height:14px;}

.wexplore_style  .disks .listview .list-group .list-group-toggle{
   font-size:20px;
}

