 /*
 * ©copyright Grisecorp
 * System - Web operation System 1.0
 * Autor -  Geraldo Grise 
 */
.window_extract.program{
  
  height:150px;
  width:400px;
  background:#fff;
   float:left;
   position: absolute;
  
}

.window_extract .modal-header {
  float:left;
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
 
}
.window_extract .modal-header_window {
    background: none repeat scroll 0 0 #f0f0f0;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    min-height: 16.4286px;
    padding: 5px;
    width: 100%;
	
}
.window_extract .top_bar{
  float:left;
  width:100%;
 
}


.window_extract .modal-header .close {
  margin-top: -2px;
}


.window_extract .modal-title {
  margin: 0;
  line-height: 1.428571429;
  color:#333;
}
.window_extract .icon-minus,.window_extract .icon-max,.window_extract  .icon-close{
  color:#333;

}
.window_extract .btn_black{
  color:#fff;
  background:#444444;

}




.window_extract .modal-body {
  float:left;
  width:100%;
  height:100%;
  background:#fff;;
 
  
}

.window_extract .modal-footer {
  float:left;
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}




@media screen and (min-width: 768px) {
 .window_extract .modal-dialog {
   
	float:left;
	width:100%;
	height:100%;
	
	
  
  }
 

}

 .window_extract  .container_text{
   width:100%;
    background:white;
 
 }
 .window_extract  .container_text{
  
     width:100%;
	 background:#fff;
 } 
 



 .window_extract   .top{
  float:left;
  height:30px;
  background:#f4f4f4;
  border-bottom:1px solid #333;
  width:100%;
 
 
 }
  .window_extract   .top  ul{
    float:left;
	list-style:none;
	height:25px;
	width:100%;
  
  }

  
  .window_extract .form-group{
  width:90%;
  margin:0 auto;
}

.window_extract label.group{
  float:left;
  width:100%;
}

.window_extract button.group{
  width:100%;
  float:left;
  margin-top:0;
}

.window_extract button .form-control_width_button{
   width:80%;

}

.window_extract .icon-zip{
 font-family: 'FontAwesome';

}

.window_extract .icon-zip:before{
 content: "\f1c6";
}