
 /*
 * ©copyright Grisecorp
 * System - Web operation System 1.0
 * Autor -  Geraldo Grise 
 */
.elfinder.program{
  
  
  width:893px;
  top: 7%;
  left:15%;
  float:left;
  position: absolute;
  background:#CECECE;
  height:441px;
  
  
}
