
 /*
 * ©copyright Grisecorp
 * System - Web operation System 1.0
 * Autor -  Geraldo Grise 
 */
.ccharpeditor.program{
  
  height:400px;
  width:640px;
  background:#fff;
   float:left;
   position: absolute;
  
}

.ccharpeditor .modal-header {
  float:left;
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
 
}
.ccharpeditor .modal-header_window {
    background: none repeat scroll 0 0 #f0f0f0;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    min-height: 16.4286px;
    padding: 5px;
    width: 100%;
	
}
.ccharpeditor .top_bar{
  float:left;
  width:100%;
 
}


.ccharpeditor .modal-header .close {
  margin-top: -2px;
}


.ccharpeditor .modal-title {
  margin: 0;
  line-height: 1.428571429;
  color:#333;
}
.ccharpeditor .icon-minus,.ccharpeditor .icon-max,.ccharpeditor  .icon-close{
  color:#333;

}




.ccharpeditor .modal-body {
  float:left;
  width:100%;
  height:100%;
  background:#fff;;
 
  
}

.ccharpeditor .modal-footer {
  float:left;
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}




@media screen and (min-width: 768px) {
 .ccharpeditor .modal-dialog {
   
	float:left;
	width:100%;
	height:100%;
	
	
  
  }
 

}

 .ccharpeditor  .container_text{
   width:100%;
    background:white;
 
 }
 .ccharpeditor  .container_text{
  
     width:100%;
	 background:#fff;
 } 
 


 .ccharpeditor  .ui-resizable-se {
   
	right: -5px;
    bottom: -5px;
}