
 /*
 * ©copyright Grisecorp
 * System - Web operation System 1.0
 * Autor -  Geraldo Grise 
 */
.wtalk.program{
  
  
  width:400px;
  top: 1%;
  left:15%;
  float:left;
  position: absolute;
  background:none;
  
}

