
 /*
 * ©copyright Grisecorp
 * System - Web operation System 1.0
 * Autor -  Geraldo Grise 
 */
.calculator.program{
  
  height:380px;
  width:265px;
  background:#f8f8f8;
   float:left;
   position: absolute;
  
}





.calculator .modal-header {
  float:left;
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
 
}
.calculator .modal-header_window {
    background: none repeat scroll 0 0 #f0f0f0;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    min-height: 16.4286px;
    padding: 5px;
    width: 100%;
	
}
.calculator .top_bar{
  float:left;
  width:100%;

}


.calculator .modal-header .close {
  margin-top: -2px;
}


.calculator .modal-title {
  margin: 0;
  line-height: 1.428571429;
  color:#333;
}
.calculator .icon-minus,.calculator .icon-max,.calculator  .icon-close{
  color:#333;

}




.calculator .modal-body {
  float:left;
  width:100%;
  height:95%;
  background:#000;
 
  
}

.calculator .modal-footer {
  float:left;
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}




@media screen and (min-width: 768px) {
 .calculator .modal-dialog {
   
	float:left;
	width:100%;
	height:100%;
	
	
  
  }
 

}

 .calculator  .container_text{
   width:100%;
    background:white;
 
 }
 .calculator  .container_text{
  
     width:100%;
	 background:#fff;
 } 
 
.wysiwyg-input        {position:relative;}
.wysiwyg-input body{height:300px;}
.wysiwyg-input {position:absolute;top:68;left:0;width:100%;height:78%}

 .calculator  .ui-resizable-se {
   
	right: -5px;
    bottom: -5px;
}

.window_content{
  overflow-x:none;
  overflow-y:none;
  bottom:0;
}