.imanager.program{
  
  height:400px;
  width:640px;
  border:1px solid #333;
  background:#fff;
  float:left;
   position: absolute;
  
  
}
.imanager .window_aside{
   float:left;
   overflow-y:scroll;
  
   min-height:89%;
}

.imanager .modal-header {
  float:left;
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;

 
}
.imanager  .modal-header_window {
    background: none repeat scroll 0 0 #A9C3DD;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    min-height: 16.4286px;
    padding: 5px;
    width: 100%;
	  background:black;
	
	
}
.imanager .top_bar{
  float:left;
  width:100%;
}

.imanager .top_bar  .btn_menu input[type=image]{float:left;width:25px;height:25px;margin:0 2px 0 2px;}
.imanager .top_bar .btn_update .reload{float:left;background:#ECF2F9;height:24px;border-top:1px solid #333;margin:0 10px 0 0;}
.imanager .top_bar .btn_search .reload{float:left;background:#ECF2F9;height:24px;border-top:1px solid #333;}
/*search text*/
.imanager .top_bar input.search_explore{float:left;width:56%;height:25px;background:#ECF2F9;border-bottom:1px solid #ccc;
	border-top:1px solid #333;
	border-left:1px solid #333;}
.imanager .top_bar input.search_all{
	float:left;
	width:25.3%;
	height:25px;
	background:#ECF2F9;
	border-bottom:1px solid #ccc;
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-right:0;
	
}

.imanager .modal-header .close {
  margin-top: -2px;
}


.imanager .modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.imanager .modal-body {
  float:left;
  width:100%;
  height:100%;
  background:#fff;;
 
  
}

.imanager .modal-footer {
  float:left;
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}




@media screen and (min-width: 768px) {
 .imanager .modal-dialog {
   
	float:left;
	width:100%;
	height:100%;
	
	
  
  }
 

}

.imanager  .sidebar{width:220px;float:left;border-right:1px solid #ccc;height:357px;overflow-y:scroll;background:#f4f4f4;}
.imanager  .container_explore{float:left;width:100%;background:#fff;}

.imanager .col-lg-search{
  width:100%;
  padding:0;
  padding-left:5px;
}

.imanager .has-error .form-control{
   border-color:black;
}
.imanager  .has-error .input-group-addon {
    background-color: #f4f4f4;
    border-color: black;
    color: #000000;
	cursor:pointer;
}

.imanager  .image_itens{
   width:100%;
   background:#f4f4f4;
   height:90%;
}

.imanager  .input_name{
  width:138px;
  float:left;
}

.imanager .insert_button{
   float:left;
   padding-top:3px;
   padding-left:2px;
}
