 /*
 * ©copyright Grisecorp
 * System - Web operation System 1.0
 * Autor -  Geraldo Grise 
 */
.resetpassword.program{
  
  height:434px;
  width:401px;
  background:#FFF;
   float:left;
   position: absolute;
  
}

.resetpassword .modal-header {
  float:left;
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
 
}
.resetpassword .modal-header_window {
    background: none repeat scroll 0 0 #f0f0f0;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    min-height: 16.4286px;
    padding: 5px;
    width: 100%;
	
}
.resetpassword .top_bar{
  float:left;
  width:100%;
 
}


.resetpassword .modal-header .close {
  margin-top: -2px;
}


.resetpassword .modal-title {
  margin: 0;
  line-height: 1.428571429;
  color:#333;
}
.resetpassword .icon-minus,.resetpassword .icon-max,.resetpassword  .icon-close{
  color:#333;

}




 .resetpassword  .div_content label{
	 margin-top:3px;
	 
 }
 .resetpassword  .window_content{
    background:#f0f0f0;
 
 }
 .resetpassword  .container_text{
   width:100%;
    background:white;
 
 }
 .resetpassword  .container_text{
  
     width:100%;
	 background:#fff;
 } 
 


 .resetpassword  .ui-resizable-se {
   
	right: -5px;
    bottom: -5px;
}
 .resetpassword .container_users {
   background:#fff;
   color:#333;
   width:90%;
   margin:0 auto;
   border:1px solid #333;
   height:86%;
   margin-top:2%;

}
.title_users {
   width:100%;
   float:left;
   margin-top:5px;
   
}
.title_users  img{
   float:left;
   width:48px;
}
.title_users  span{
  float:left;
  width:70%;
}
.div_content{
  margin:0 auto;
 
  

}
    
 .div_content .tbl_users{
    float:left;
	border:1px solid #333;
	width:100%;
    border-collapse: collapse;
 
 }
 .div_content .tbl_users th{
   background:#f0f0f0;
   border-bottom:1px solid #333;
   padding: 0 5px;
   height: 26px;
   font-size: 12px;
    vertical-align:middle;
 }
.div_content .tbl_users th.td_name{
 
 border-right:1px solid #ccc;

 
 }
 .div_content .tbl_users th.td_grp{
   
	 border-right:1px solid #333;
	
 }

.div_content .tbl_users td{
  padding: 0 5px;
  height: 26px;
  font-size: 12px;
  vertical-align:middle;
}
.div_content .tbl_users tr.active td{
 background:#3399FF;
 color:#fff;

}

.div_content .btns{
  float:left;
  width:100%;
  margin-top:10px;
  height:30px;

}

.div_content .btn{
 
  background: #D2D2D2;
}

.resetpassword .btn_reset_password{
 float:right;
}



.resetpassword .remove_user,.resetpassword .add_user,.resetpassword .reset_password{
 font-family: 'FontAwesome';

}
.resetpassword  .add_user:before{
   content: "\f234";
}
.resetpassword .remove_user:before{
 content: "\f235";
}

.resetpassword .div_reset{
 float:left;
 width:100%;
 margin-top:10px;

}
.resetpassword .div_reset span{
 float:left;
  width:70%;

}
.resetpassword  fieldset {
	border: 1px solid #AAAAAA;
	margin: 0;
	padding: 0 7px 7px 7px;
	display: inline-block;
	vertical-align: bottom;
	width:90%;
}
.resetpassword  fieldset legend {
	font: normal 12px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
	display: block;
	border:1px solid #AAAAAA;
	margin-bottom:5px;
	background:#f0f0f0;
}


.resetpassword  .reset_password:before{
   content: "\f023";
  
}
.resetpassword .btns_extnernal{
  float:left;
  width:100%;
  margin-top:5px;
}
.resetpassword .btn{
 border:1px solid #333;
}
.resetpassword .btns_extnernal .btn{
  background: #D2D2D2;
  margin:0 3px;
}
.resetpassword .btns_extnernal  .btns_group{
     float:right;
	 margin-right:16px;
}
.resetpassword .btns_extnernal .btn_ok{
  float:left;
  

}
.resetpassword .btns_extnernal .btn_cancel{
  float:left;
   

}
.resetpassword  .grise_btn_generate{
  float:left;
  width:100%;
  margin-top:20px;
}
.resetpassword .grise_btn_generate button{
 float:right;
}
.resetpassword .generate_password{
 font-family: 'FontAwesome';

}
.resetpassword  .generate_password:before{
   content: "\f023";
}


